#obelisk
  = image_tag "obelisk.png"
#arc
  = image_tag "arc.png"
#content.index
  %p#title.bienvenue Bienvenue chez Deluxe Traduction
  %p
    Nous vous proposons de vous aider à communiquer efficacement
    dans de nombreux domaines et dans toutes les langues. Nous
    effectuons des traductions de qualité, grâce à notre
    sélection de traducteurs diplômés, expérimentés et
    traduisant tous exclusivement vers leur langue maternelle.
  %p
    Notre équipe est composée de traducteurs et correcteurs
    spécialisés, mais également de graphistes et assistantes
    bureautiques, ce qui nous permet de vous offrir également
    des prestations d'assistance administratives,
    retranscription audio et vidéo en plusieurs langues,
    réalisation de sites internet et logos, et permanence
    téléphonique.  #{link_to "En savoir plus...", services_url}
  %p Nous vous proposons : 
  %ul
    %li 1 devis sous 24h
    %li 1 travail rapide, efficace, contrôlé par des professionnels 
    %li 1 traducteur de langue maternelle, spécialisé dans votre domaine
    %li 1 garantie de confidentialité
