#content.conditions
  %p#title.conditions Conditions générales de vente
  %ol
    %li 
      %p Objet
      %p Deluxe Traduction propose des services de traduction, interprétariat, permanence téléphonique, assistance à la gestion administrative, retranscription audio, création graphique. Toute mission confiée à Deluxe Traduction fait l'objet d'un contrat de prestation de services.

    %li 
      %p Disponibilité
      %p Les prestations prévues à l'article 1 seront réalisées selon la disponibilité de Deluxe Traduction et du Client. Aucun minima d'heure n'est à réaliser, toutefois, il est préférable de prévoir un minimum de 4 heures consécutives pour toute demande de prestation de secrétariat ou d'interprétation sur site (voir article 3).

    %li 
      %p Lieux et tarifs
      %ul
        %li Lieux:
        %p Les prestations prévues à l'article 1 seront réalisées dans les bureaux de Deluxe Traduction.
        %p Les prestations de secrétariat et d'interprétariat peuvent être effectuées sur site selon disponibilité et à la demande du client.
        %li Tarifs:
        %p Le minimum de facturation est de 50 € HT
        %p Les tarifs sont révisables chaque année au 1er janvier.
        %li Remises et majorations:
        %p Pour toute demande de prestation sur site, des frais de déplacement seront facturés au Client.
        %p Les transports nécessaires à toute prestation sur site seront refacturés au client selon le tarif en vigueur ainsi que les frais de nourriture et d'hébergement.
        %p Une majoration sera appliquée pour les urgences.
        %p Une majoration sera appliquée les samedis, dimanches et jours fériés.
        %p Les frais de livraison engagés par Deluxe Traduction seront refacturés au Client selon le tarif de La Poste en vigueur.
        %p La mission donnée à Deluxe Traduction ne sera commencée qu'à réception du devis signé et du règlement intégral l'accompagnant.

    %li 
      %p Conditions d'escompte
      %p Aucun escompte ne sera accordé pour tout paiement anticipé, sauf indication contraire sur la facture.

    %li 
      %p Pénalités de retard
      %p En cas de problème pour les règlements, des les pénalités de retard seront exigibles sans qu'aucun rappel ne soit nécessaire.
      %p Elles courent de plein droit le jour suivant la date de règlement portée sur la facture. Les pénalités de retard sont égales à 15% de la facture.
  
    %li 
      %p Nature des obligations
      %p Pour l'accomplissement des diligences et prestations prévues à l'article 1 ci-dessus, Deluxe Traduction s'engage à donner ses meilleurs soins, conformément aux règles de l'art. La présente obligation n'est, de convention expresse, que pure obligation de moyens.

    %li 
      %p Délais de livraison
      %p Les délais de livraison sont donnés à titre purement indicatif et sans garantie. Un retard n'autorise pas le client à annuler le contrat ou à bénéficier de dommages et intérêts. Le délai court à réception du devis signé et du règlement intégral.
  
    %li 
      %p Confidentialité et propriété des résultats
      %p Chaque partie s'engage à conserver strictement confidentiels les données ou concepts, informations et documents concernant l'autre partie de quelque nature qu'ils soient (économiques, techniques, commerciaux) auxquels elle pourrait avoir connaissance à l'occasion du présent contrat. Le prestataire, toutefois, ne saurait être tenu pour responsable d'aucune divulgation si les éléments divulgués étaient dans le domaine public à la date de la divulgation, ou s'il en avait connaissance, ou les obtenait de tiers par des moyens légitimes.
      %p De convention expresse, les résultats de la mission seront en la pleine maîtrise du Client à compter du paiement intégral de la prestation et le Client pourra en disposer comme il l'entend. Le Prestataire s'interdit de faire état des résultats et de les utiliser de quelque manière, sauf à obtenir préalablement l'autorisation écrite du Client.
  
    %li 
      %p Obligation de collaboration
      %p Le Client tiendra à la disposition de Deluxe Traduction toutes les informations pouvant contribuer à la bonne réalisation de l'objet du présent contrat.
  
    %li 
      %p Responsabilité
      %p Deluxe Traduction mettra en oeuvre tous les moyens à sa disposition pour prendre soin et préserver les fichiers informatiques et autres documents qui lui seront confiés par le Client pour la réalisation de sa prestation.
      %p Toutefois, compte tenu des risques de dommages ou de détériorations encourus par ce type de support, il appartiendra au Client de s'en prémunir par tous moyens à sa convenance.
      %p Le Client convient que Deluxe Traduction n'encourra aucune responsabilité à raison de toute perte de bénéfices, de trouble commercial, de demande que le Client subirait, de demandes ou de réclamations formulées contre le Client et émanant d'un tiers quel qu'il soit.
      %p Le contrat n'institue aucun lien de subordination, ne confère aucun mandat ni ne créé aucune société commune ou association en participation entre Deluxe Traduction et Le Client. Deluxe Traduction ne sera, en aucun cas, impliquée dans la gestion des affaires du client, notre engagement se limitant en l'obligation de moyens et non de résultat

    %li 
      %p Résiliation hors faute
      %p Deluxe Traduction et le client peuvent mettre fin au contrat à leur convenance par simple lettre, ou e-mail, le dit contrat prenant fin au dernier jour du mois au cours duquel la lettre aura été envoyée.

    %li 
      %p Référencement
      %p Le Client autorise Deluxe Traduction à inscrire les travaux accomplis dans le cadre du présent contrat au nombre de leurs références sur leur site http.www.deluxetraduction.com
      %p Droit applicable et attribution de compétences. Interprétation du contrat
      %p La loi du présent contrat est la loi française.  Les litiges relatifs à l'interprétation et l'exécution des commandes, même en cas d'appel en garantie, de pluralité de défendeurs ou de connexité, sont soumis, de convention expresse, à la compétence exclusive du tribunal de commerce de Paris
      %p Le présent et ses annexes expriment l'intégralité des obligations des parties.
