#neuf
  = image_tag "neuf.png"
#content.emailing
  %p#title.emailing EMAIL MARKETING
  
  %p We can offer you email blasts to business professionals at very competitive rates:
  %ul.prices
    %li 250 € HT for 100 000 emails B to B
    %li 400 € HT for 200 000 emails B to B
    %li 500 € HT for 300 000 emails B to B
    %li 550 € HT for 400 000 emails B to B

  %ul
    %li 400 000 professionals in France
    %li 100 000 addresses in the UK
    %li more than 1 million in the USA

  %p To carry out your emailing job, you may send us your message in HTML format by email
  %p If you haven't yet created your marketing campaign materials, we can assist you (redaction: with a quotation, in HTML format: 80 €).  Please mention the name of the sender (the name of your company for example) and the email address, as well as a link to your site.
  %p As certain email addresses have been deactivated or are protected, we will send an extra 8% of emails, knowing that the percentage of negative return mails is around 4% (expect numerous return emails in the days following your campaign)

  %p.strong To succeed with your email campaign:
  %ol
    %li Create a short, simple, and targeted mail 
    %li The recipient will only open the email if the subject is interesting.  Choose your Subject carefully
    %li Be prepared to respond to the surge of responses.  80% of the responses for your campaign happen within the first 3 days following the mailing.
    %li Indicate a telephone number.  A third of recipients prefer contact by phone.
    %li Insert an unsubscribe link
    %li State the physical postal address of your business in order to comply with international emailing laws

