#neuf
  = image_tag "neuf.png"
#content.emailing
  %p#title.emailing E-MAIL MARKETING
  
  %p Nous offrons des packs e-mailing à destination de professionnels à des tarifs très compétitifs :
  %ul.prices
    %li 250 € HT pour 100 000 e-mails B to B
    %li 400 € HT pour 200 000 e-mails B to B
    %li 500 € HT pour 300 000 e-mails B to B
    %li 550 € HT pour 400 000 e-mails B to B

  %ul
    %li 400 000 adresses professionnelles en France
    %li 100 000 au Royaume Uni
    %li + de 8 millions aux Etats-Unis

  %p Pour l’envoi de votre e-mailing, votre message sous format HTML doit nous être envoyé par e-mail.

  %p 
    Si vous n’avez pas rédigé de campagne marketing pour l’instant, nous pouvons vous y aider
    (rédaction : sur devis, mise en forme sous HTML : 80 € HT). Merci de nous indiquer
    également le nom de l’expéditeur à mentionner (nom de votre société, par exemple) et son
    adresse mail, ainsi qu’un lien vers votre site.

  %p
    Certaines adresses e-mail ayant été désactivées ou étant protégées, nous envoyons environ
    8% de mails supplémentaires, sachant que le pourcentage de retours négatifs est d’environ
    4% (prévoyez de nombreux e- mails de retour les jours de votre envoi)


  %p.strong Pour réussir votre e-mailing :
  %ol
    %li Un mail court, simple et ciblé
    %li Le destinataire n’ouvrira votre e-mail que si le sujet l’intéresse. C’est un élément clé, ne le négligez pas.
    %li Organisez-vous pour être prêt à l’afflux de demande. 80% des retours de votre e-mailing auront lieu dans les 3 jours suivant l’envoi.
    %li Indiquez un n° de téléphone, un tiers des destinataires préfèrent appeler.
    %li Insérez un lien de désinscription.

  %br

  %em.quiet
    %p La position de la CNIL sur l’e-mailing à destination des entreprises :

    %p
      La CNIL considère que l’esprit de la loi du 21 juin 2004 est de protéger la vie privée des
      consommateurs personnes physiques et non de freiner les échanges électroniques entre
      professionnels, la prospection d’entreprise à entreprise communément appelée « B to B ».


    %p 
      En conséquence elle estime que des personnes physiques peuvent être prospectées par courrier
      électronique à leur adresse électronique professionnelle et au titre de la fonction qu’elles exercent
      dans l’organisme privé ou public qui leur a attribué cette adresse, sans leur accord préalable. L’envoi
      d’un message présentant les mérites d’un logiciel à paul.toto@nomdelasociété, directeur informatique,
      sans l’accord préalable de M. Paul Toto, est acceptable, non l’envoi d’un message vantant le charme
      du tourisme aux Caraïbes en hiver.

    %p
      La CNIL souligne qu’une adresse de courrier électronique professionnelle permettant d’identifier
      directement ou indirectement une personne physique est une donnée à caractère personnel au sens
      de la loi « Informatique et Libertés » du 6 janvier 1978. L’utilisation des adresses professionnelles
      nominatives demeure donc soumise aux règles relatives à la protection des données. Les titulaires de
      ces adresses doivent notamment avoir été mis en mesure, au moment de la collecte de leur adresse
      électronique, de s'opposer à toute utilisation commerciale de leurs coordonnées.

