#images
  #obelisk
    = image_tag "obelisk.png"
  #arc
    = image_tag "arc.png"
#content
  %p#title.bienvenue Bienvenue chez Deluxe Traduction
  %p We will help you communicate more effectively in numerous domains, in all languages. We carry out quality translations thanks to our selection of certified and highly trained translators who translate exclusively into their native languages.
  %p Our staff is composed not only of specialized translators and editors, but also graphic designers and office assistants. This allows us to additionally offer you services of administrative assistance, audio and video transcription in multiple languages, telephone answering services, and the creation of web sites and logos. #{link_to "More Info", services_url}  
  %p We offer you : 
  %ul
    %li A quotation in 24 hours 
    %li Quick and efficient work, verified by our professionals 
    %li A native translator specialized in your domain
    %li A guarantee of confidentiality
