#fountain
  = image_tag "fountain.png"
#content.langues
  %p#title.langues Languages and Specialties
  %p We offer you translations to and from : 
  %p <em> English, Italian, Spanish, Portuguese, German, Greek, Dutch, Flemish, Swedish, Norwegian, Icelandic, Russian, Czech, Hungarian, Polish, Romanian, Arabic, Hebrew, Chinese, Japanese, Thai, Vietnamese, Korean, Hindi, Turkish, and more...</em>
  %br
  %p We work with specialized translators in numerous domains, including :
  %p <em> Legal, Marketing, Medical, Technical, Tourism, Art/Culture, Economics, Computer Science, Information Technology, Finance, Business, Agriculture, Food, Architecture, Automotive, Biology, Communication, Accounting, Construction, Cosmetics, Editorial, Environmental, Journalism, Literary, Logistics, Pharmaceutical, Human Resources, Textiles, Transportation, Sports, Physics </em>
