#images
  #fountain
    = image_tag "fountain.png"
#content
  %p#title.langues Langues et spécialités
  %p Nous vous proposons des traductions de et vers :
  %p Anglais, Italien, Espagnol, Portugais, Allemand, Grec, Néerlandais, Danois, Flamand, Suédois, Norvégien, Finnois, Islandais, Russe, Tchèque, Hongrois, Polonais, Roumain, Arabe, Hébreu, Chinois, Japonais, Thaï, Vietnamien, Coréen, Hindi, Turc.
  %p Nous travaillons avec des traducteurs spécialisés dans de nombreux domaines dont :
  %p Juridique, Marketing, Médical, Technique, Tourisme, Art/Culture, Economie, Informatique, Finance, Business, Agriculture, Agro-alimentaire, Architecture, Assurance, Automobile, Biologie, Communication, Comptabilité, Construction, Cosmétique, Edition, Environnement, Journalisme, Littérature, Logistique, Pharmacie, Ressources humaines, Textile, Transport, Sport, Physique. 
