#mentions
  %strong Deluxe Traduction.com est un site visant à présenter les services proposés par la société Deluxe Traduction.

  %strong Il est hébergé par :
  %p
    SAS OVH <br>
    140, quai du Sartel <br>
    59100 ROUBAIX <br>

  %strong Et est administré par :
  %p
    Deluxe Traduction <br>
    75015 Paris  <br>
    SIRET : 501 240 501 00012  <br>
    N° de TVA Intracommunautaire : FR64 501 240 501  <br>
    Tél. : 06-65-13-09-63 Fax: 01-72-70-32-86  <br>
    Email: contact@deluxetraduction.com  <br>

  %strong Informatique et libertés :
  %p
    En application de l'article 16 de la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le site www.deluxetraduction.com a fait l'objet d'une déclaration à la CNIL (Commission Nationale de l'Informatique et des Libertés).
    Numéro de récépissé : 1402265 <br>
    Article 34 loi Informatique et Libertés du 6 janvier 1978 : <br>
    "Vous disposez d'un droit d'accès, de modification, de rectification ou de suppression des données vous concernant" <br>
    Pour exercer ce droit, merci d'envoyer un email à contact@deluxetraduction.com <br>

  %strong Propriété intellectuelle :
  %p
    Vous êtes libre de reproduire, de communiquer au public les textes publiés sur ce site, mais selon les conditions suivantes  : <br>
    \- vous devez citer le nom de l'auteur dans son intégralité . <br>
    \- vous n'avez pas le droit d'utiliser ces textes à des fins commerciales <br>
    \- Vous n'avez pas le droit de modifier, de transformer ou d'adapter cette création. <br>
    Si vous ne voulez ou ne pouvez respecter ces trois conditions, considérez alors que vous n'avez pas le droit d'utiliser le contenu de ce site. <br>

