Deluxe Traduction.com est un site visant à présenter les services proposés par la société Deluxe Traduction.

 

Il est hébergé par :
SAS OVH
140, quai du Sartel
59100 ROUBAIX

 

Et est administré par :

Deluxe Traduction
5, villa de l'astrolabe 75015 Paris
SIRET : 501 240 501 00012
N° de TVA Intracommunautaire : FR64 501 240 501
Tél. : 06-65-13-09-63 Fax: 01-72-70-32-86
Email: contact@deluxetraduction.com

 

Informatique et libertés :
Article 34 loi Informatique et Libertés du 6 janvier 1978 :
"Vous disposez d'un droit d'accès, de modification, de rectification ou de suppression des données vous concernant"
Pour exercer ce droit, merci d'envoyer un email à contact@deluxetraduction.com

 

Propriété intellectuelle :
Vous êtes libre de reproduire, de communiquer au public les textes publiés sur ce site, mais selon les conditions suivantes  :
- vous devez citer le nom de l'auteur dans son intégralité : Elodie Culoma.
- vous n'avez pas le droit d'utiliser ces textes à des fins commerciales
- Vous n'avez pas le droit de modifier, de transformer ou d'adapter cette création.
Si vous ne voulez ou ne pouvez respecter ces trois conditions, considérez alors que vous n'avez pas le droit d'utiliser le contenu de ce site.

