#news
  = image_tag "news.png"
#content.news
  %p#title.news Actualités
  #news_content
    %p  <span>Bienvenue</span>

    %p Bienvenue chez Deluxe Traduction, retrouvez ici notre actualité et nos offres promotionnelles.
