#news
  = image_tag "news.png"
#content.news
  %p#title.news News
  #news_content
    %p <span>Welcome</span>

    %p Welcome to Deluxe Traduction.  Here you can find our latest new and promotional offers.
