#images
  #news
    = image_tag "news.png"
#content
  %p#title.news Actualités
  #news_content
    Bienvenue

    Bienvenue chez Deluxe Traduction, retrouvez ici notre actualité et nos offres promotionnelles.
