#images
  #neuf
    = image_tag "neuf.png"
#content
  %p#title.savoir Notre savoir-faire
  %ul
    %li Des traducteurs diplômés et expérimentés, maîtrisant parfaitement les méthodes de traduction et les derniers logiciels.
    %li Nos traducteurs traduisent exclusivement dans leur langue maternelle, ce qui vous garantit une excellente qualité de traduction.
    %li Les documents à traduire sont confiés à des traducteurs spécialisés (juridique, technique, scientifique), selon vos besoins. Ces traducteurs ont plusieurs années d'expérience dans le domaine concerné et cumulent donc une expérience technique et linguistique.  
    %li Toutes nos traductions sont soumises à une relecture rigoureuse, effectuée par un deuxième traducteur qualifié, afin de vous garantir une traduction de qualité.
    %li Chacun de nos contrats inclut une clause de confidentialité vous garantissant une totale discrétion sur le contenu de vos documents.
