#neuf
    = image_tag "neuf.png"
#content.savoir
  %p#title.savoir Our Expertise
  %ul
    %li Highly trained and educated translators, who perfectly master the latest translation methods and software. 
    %li Our translators translate exclusively into their native language, which guarantees you an excellent translation quality.
    %li Your documents are translated by specialized translators (legal, technical, scientific, etc...) depending on your needs. These translators have many years of experience in the relevant domain, and thus have acquired both linguistic as well as technical expertise.
    %li All of our translations are verified by a rigorous editorial process which is carried out by a second qualified translator, in order to guarantee you a quality translation.
    %li Each of our contracts includes a confidentiality clause, which guarantees you complete discretion on the content of your documents.
