#obelisk
  = image_tag "obelisk.png"
#arc
  = image_tag "arc.png"
#content.index
  %p#title.secretariat Secrétariat, rédaction, correction
  %p
    Votre secrétaire est absente? Vous ne souhaitez pas embaucher pour des travaux pouvant être
    externalisés, mais vous êtes débordés en ce moment ?
  %p Optez pour le télésecrétariat!
  %p LES SERVICES
  %ul
    %li Retranscription audio de réunions, conférences, ou document manuscrit
    %li E-mailing, publipostage.
    %li Secrétariat classique (selon votre activité et vos besoins)
    %li Rédaction courrier, rapport, contenu site web, roman, thèses, article...
    %li Saisie de masse, relecture, correction, mise en page
    %li Organisation voyages et déplacements
    %li Création de tableaux, graphiques et présentations Powerpoint
    %li Etablissement factures et devis
    %li Qualification de base de données
    %li Recherche et veille internet

