#images
  #louvre
    = image_tag "louvre.png"
#content
  %p#title.services Services annexes
  %p Afin de vous offrir le meilleur service possible, nous nous entourons de professionnels pouvant répondre à vos besoins dans plusieurs domaines.
  %p Ainsi nous proposons également :
  %ul
    %li <span>Assistance administrative </span> et bureautique à distance. Déplacements possibles sur Paris et dans certains départements.
    %li <span>Rédaction</span> de courriers, articles, contenu de sites internet (en plusieurs langues)
    %li <span>Retranscription</span> audio et vidéo (en plusieurs langues)
    %li <span>Création de sites</span> internet et logos.
    %li <span>Permanence téléphonique</span>
  %p Pour tous renseignements sur ces prestations, n'hésitez pas à nous appeler ou nous contacter par e-mail à contact@deluxetraduction.com.
