#arc
  = image_tag "arc.png"
#content.tarifs
  %p#title.tarifs Prices

  %p.subtitle TRANSLATION
  %p
    Si vous souhaitez un devis précis pour la traduction de votre site internet, ou de vos documents, la
    meilleure façon de l’obtenir est de nous contacter par e-mail à #{mail_to "contact@deluxetraduction.com"} en nous
    envoyant le document à traduire en pièce jointe ou par fax au 01 72 70 32 86 si vous ne possédez
    pas ce document sous format électronique. Vous obtiendrez un devis en moins de 24h.

  %p Every translation is unique, and thus the prices are determined according to:

  %ul
    %li The Language combination:  source language and target language
    %li The subject domain:  legal, medial, scientific, literary 
    %li Urgency, and required turnaround time
    %li Volume of text (counted by the number of words)
    %li Level of expertise required (certain domains require specialized knowledge)
    %li Type of translation: simple translation, legally certified translator, court certified translations
    %li 
      Le format requis (La traduction est généralement livrée sous Word, Excel ou Powerpoint. Il
      vous appartient de la convertir au format de votre choix. Si cela rentre dans nos compétences,
      nous pouvons proposer de la livrer sous d’autres formats, mais cette prestation entraînera un
      coût supplémentaire). Les mots insérés dans les photos sont traduits sous la photo ou à côté
      de celle-ci. Pour un travail graphique remplaçant cette photo, la prestation sera également
      facturée en supplément.
  %p
    Voici les raisons pour lesquelles nous ne donnons pas de tarif « indicatif » sans voir le document : trop
    de paramètres sont à prendre en compte dans le devis. Nous offrons également des remises à nos
    clients fidèles pour les volumes importants ou les missions très régulières (engagement par contrat).

  %br
  %p.subtitle INTERPRETATION

  %p Concerning interpretation services, the price depends on:
  %ul
    %li The languages combination
    %li The number of interpretors required
    %li The Type of interpretation needed (simultaneous, consecutive)
    %li Equipment requirements (cabins, microphones)
    %li The location of the event
    %li The dates and times
    %li The number of speakers and listeners
    %li The subject of the conversations or debates
    %li Prior availability of texts or transcripts
    %li Transportation, food and lodging fees
  
  %br
  %p.subtitle For our other services: 

  %table
    %tr
      %th Service
      %th Prices
    %tr
      %td Audio retranscription
      %td Starting from 2,30 € HT /recorded minute
    %tr
      %td Secretarial
      %td Starting from 35 € HT /hour
    %tr
      %td Telephone 
      %td Subscription (all included) starting from 75 € HT/month
    %tr
      %td Business to Business emailing
      %td Packages tarting at 150 € HT 
    %tr
      %td Internet research
      %td Starting at 35 € HT /hour
    %tr
      %td Redaction
      %td Ask for a quotation
    %tr
      %td Website creation and logo design
      %td Ask for a quotation
    %tr
      %td Event planning
      %td Ask for a quotation

  %p.quiet All of our prices are subject to the EU Value Added Tax

