#arc
  = image_tag "arc.png"
#content.tarifs
  %p#title.tarifs Prices

  %p.subtitle TRANSLATION
  %p If you would like a precise quotation for the translation of your website, or documents, the best way to proceed is to contact us by email at #{mail_to "contact@deluxetraduction.com"}, and send us the document that you would like to translate as an attachment.  You may also send it by fas to +33 1 72 70 32 86 if you don't have the document in an electronic format.  We will then send you a quotation as soon as possible.

  %p Every translation is unique, and thus the prices are determined according to:

  %ul
    %li The Language combination:  source language and target language
    %li The subject domain:  legal, medial, scientific, literary 
    %li Urgency, and required turnaround time
    %li Volume of text (counted by the number of words)
    %li Level of expertise required (certain domains require specialized knowledge)
    %li Type of translation: simple translation, legally certified translator, court certified translations
    %li The required format:   Translations are generally delivered in Word, Excel, or Powerpoint format, which you may then take and convert to a format of your choice.  We can also propose to deliver your translation in other formats if it falls within our technical capacities, however this will introduce a supplementary fee.  Words embedded within photos will be translated beneath the photo, or next to it.  For graphical design work to update the photos directly, a supplementary charge will be billed.
  %p For these reasons, we can not provide a general price without seeing the document, as there are too many factors to take into account for your quotation.  We do however offer discounts to our faithful clients, for translations of large volume, or for assignments happening at a regular frequency (agreement by contract).

  %br
  %p.subtitle INTERPRETATION

  %p Concerning interpretation services, the price depends on:
  %ul
    %li The languages combination
    %li The number of interpretors required
    %li The Type of interpretation needed (simultaneous, consecutive)
    %li Equipment requirements (cabins, microphones)
    %li The location of the event
    %li The dates and times
    %li The number of speakers and listeners
    %li The subject of the conversations or debates
    %li Prior availability of texts or transcripts
    %li Transportation, food and lodging fees
  
  %br
  %p.subtitle For our other services: 

  %table
    %tr
      %th Service
      %th Prices
    %tr
      %td Audio retranscription
      %td Starting from 2,30 € HT /recorded minute
    %tr
      %td Secretarial
      %td Starting from 35 € HT /hour
    %tr
      %td Telephone 
      %td Subscription (all included) starting from 75 € HT/month
    %tr
      %td Business to Business emailing
      %td Packages tarting at 150 € HT 
    %tr
      %td Internet research
      %td Starting at 35 € HT /hour
    %tr
      %td Redaction
      %td Ask for a quotation
    %tr
      %td Website creation and logo design
      %td Ask for a quotation
    %tr
      %td Event planning
      %td Ask for a quotation
 
  %p.alert The minimum invoice price is 50 € HT
  %p.quiet All of our prices are subject to the EU Value Added Tax

