#arc
  = image_tag "arc.png"
#content.tarifs
  %p#title.tarifs Tarifs

  %p.subtitle TRADUCTION
  %p
    Si vous souhaitez un devis précis pour la traduction de votre site internet, ou de vos documents, la
    meilleure façon de l’obtenir est de nous contacter par e-mail à #{mail_to "contact@deluxetraduction.com"} en nous
    envoyant le document à traduire en pièce jointe ou par fax au 01 72 70 32 86 si vous ne possédez
    pas ce document sous format électronique. Vous obtiendrez un devis en moins de 24h.

  %p Chaque projet est unique et les tarifs sont étudiés, en fonction de :

  %ul
    %li La combinaison de langue : Langue source =>Langue cible
    %li Le domaine concerné : juridique, médical, scientifique, littéraire…
    %li Délai de livraison
    %li Volume de texte (nombre de mots)
    %li Le niveau d’expertise requis (spécialisation dans certains domaines)
    %li Traduction simple, assermentée par traducteur, assermentée par le traducteur et le tribunal
    %li 
      Le format requis (La traduction est généralement livrée sous Word, Excel ou Powerpoint. Il
      vous appartient de la convertir au format de votre choix. Si cela rentre dans nos compétences,
      nous pouvons proposer de la livrer sous d’autres formats, mais cette prestation entraînera un
      coût supplémentaire). Les mots insérés dans les photos sont traduits sous la photo ou à côté
      de celle-ci. Pour un travail graphique remplaçant cette photo, la prestation sera également
      facturée en supplément.
  %p
    Voici les raisons pour lesquelles nous ne donnons pas de tarif « indicatif » sans voir le document : trop
    de paramètres sont à prendre en compte dans le devis. Nous offrons également des remises à nos
    clients fidèles pour les volumes importants ou les missions très régulières (engagement par contrat).

  %br
  %p.subtitle INTERPRETARIAT

  %p En ce qui concerne l’interprétation le tarif dépend de :
  %ul
    %li La combinaison de langue
    %li Le nombre d’interprètes requis
    %li Le type d’interprétariat (simultané, consécutif, de liaison…)
    %li Le besoin éventuel de matériel (cabine, sonorisation…)
    %li Le lieu de l’évènement
    %li Les dates et horaires
    %li Le nombre d’orateurs et d’auditeurs
    %li Sujet des débats
    %li Disponibilité préalable des textes
    %li Frais de déplacement, hébergement, nourriture
  
  %br
  %p.subtitle Pour les autres services :

  %table
    %tr
      %th Prestation
      %th Tarif
    %tr
      %td Retranscription Audio
      %td A partir de 2,30 € HT /minute d'enregistrement
    %tr
      %td Secrétariat
      %td A partir de 35 € HT /heure
    %tr
      %td Permanence téléphonique
      %td Forfait (tout inclus) à partir de 75 € HT/mois
    %tr
      %td E-mailing B to B
      %td Forfait à partir de 150 € HT le package Small
    %tr
      %td Veille ou recherche internet
      %td A partir de 35 € HT /heure
    %tr
      %td Rédaction
      %td Uniquement sur devis
    %tr
      %td Création site internet, logo
      %td Uniquement sur devis
    %tr
      %td Organisation d'évènements
      %td Uniquement sur devis

  %p.alert Le minimum de facturation est de 50 € HT
  %p.quiet Tous nos tarifs sont soumis à la TVA.

