!!! 
%html 
  %head
    %meta(charset='utf-8')

    %title Deluxe Traduction
    = stylesheet_link_tag :all

    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")

    <!-- Framework CSS -->
    <link rel="stylesheet" href="stylesheets/screen.css" media="screen, projection" />
    <link rel="stylesheet" href="stylesheets/print.css"  media="print" />
    <!--[if IE]><link href="stylesheets/ie.css" rel="stylesheet" /><![endif]-->

    <!-- HTML5 Shiv http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

    %link(rel='shortcut icon' href='/favicon.ico')

  %body
    #container
      %header
        #wlogo
          %h1 Deluxe Traducton. Agence de Traduction Anglais Francais Professionelle
      %hr
      %nav
        %ul
          %li<
            %a(href='#') Accueil
          %li<
            %a(href='#') Notre savoir-faire
          %li<
            %a(href='#') Langues et  spécialités
          %li<
            %a(href='#') Services Annexes
          %li<
            %a(href='#') Contact
          %li<
            %a(href='#') Actualités
      #main
        = yield
      %footer
        #footer-links
          %ul
            %li<
              %a(href='#') Mentions légales
              %span |
            %li<
              %a(href='#') contactez-nous 
              %span \\|
            %li<
              %a(href='#') créé par tanea services
        #keywords
          %p
            Traduction courante technique scientifique
            Anglais, Italien, Espagnol, Portugais,
            Allemand,
            Néerlandais,Russe, Japonais,
            Chinois, Arabe, Suédois, Norvégien, Finnois,
            Islandais,
            Tchèque, Hongrois, Polonais, Roumain, Hébreu,
            Thaï...





